{% extends "base.html.twig" %}

{% block body %}
    <div class="main_index">
        <div class="part1">
            <h1>Bienvenue</h1>
                <h2>dans notre magasin vintage</h2>
                    <p>Généralement, on utilise un texte en faux latin 
                     (le texte ne veut rien dire, il a été modifié), 
                    le Lorem ipsum ou Lipsum, qui permet donc de 
                    faire office de texte d'attente.
                    L'avantage de le mettre en latin est que l'opérateur 
                    sait au premier coup d'oeil que la page contenant ces
                    lignes n'est pas valide, et surtout l'attention du client 
                    n'est pas dérangée par le contenu, il demeure concentré 
                    seulement sur l'aspect graphique.</p>
                <button class="shop">Shop now</button>
        </div>
        <div class="part2">
            <button>Regarder tous les produits</button>
        </div>
    </div>
{% endblock %}
{% block suggestions %}
    <h1 class="margin">Suggestions</h1>
    <div class='sectionTemplate'>
            <div class="gridTemplate">
                {% for article in articles %}
                        <div class='grid-container'>
                            <h3 class="title">{{ article.name }}</h3>
                            <details>
                            <summary class='infos'><small class="form-text text-muted">plus d'infos</small></summary>
                            <p>{{ article.infos }}</p>
                            </details>
                            <a class="picture" id="actions-show" id="actions-show" href="{{ path('article_show', {'id': article.id}) }}">
                            <img src="{{ vich_uploader_asset(article, 'imageFile', 'App\\Entity\\Article') }}" alt="{{ article.name }}">
                            </a>
                            <div class='prices'>
                                <small>Price</small>
                                <h4><strong>{{ article.price }}€</strong></h4>
                            </div>
                            <div class="buttons">
                                {% if app.user %}
                                <a class="btn btn-primary rounded-pill" id="actions-show" id="actions-add" href="{{ path('article_add', {'id': article.id}) }}"><i class="fas fa-shopping-basket"></i>Acheter</a>
                                {% else %}
                                <a class="btn btn-primary rounded-pill" id="actions-add" href="{{ path('app_login', {'id': article.id}) }}"><i class="fas fa-shopping-basket"></i>Acheter</a>
                                {% endif %}
                            </div>
                        </div>
                {% else %}
                <p>Aucun article trouvé</p>
                {% endfor %}
            </div>
    </div>
{% endblock %}
{% block background %}
<div class="pictureBackground">
    <img src="/images/background/jason-ng-cc8BVwsSHyQ-unsplash.jpg">
</div>
{% endblock %}
