{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
    <h2>Je passe ma commande</h2>
    Choisissez vos préférences de livraison avant de passer commande.
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
            {{ form(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Récap de ma commande</b><br>
            </div>
            <div class="order_summary">
                {%  for item in cart %}
                    <div class="row ">
                        <div class="col-2">
                            <img src="{{ vich_uploader_asset(item.product, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ item.product.name}}"></div>
                        <div class="col-8 my-auto" >
                            {{ item.product.name }}<br/>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ item.quantity }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
