{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    {% if app.user.roles[1] is defined%}
        {% if app.user.roles[1] %}
            <h1>Comments index</h1>
            
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom Utilisateur</th>
                                <th>Content</th>
                                <th>Created_at</th>
                                <th>Note</th>
                                <th>Status Commentaire</th>
                                <th>Autorisé</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{comment.user.username}}</td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ comment.note }}</td>
                                <td>{{ comment.moderate }}</td>
                                <td> 
                                    <a href="{{ path('comments_index', {'id': comment.id,'moderate': true}) }}">Validé</a>
                                    <a href="{{ path('comments_index', {'id': comment.id,'moderate': false}) }}">Refuser</a>
                                </td>
                                <td>
                                    <a href="{{ path('comments_show', {'id': comment.id}) }}">En savoir plus</a>
                                    {# <a href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a> #}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {# <a href="{{ path('comments_new') }}">Create new</a> #}
        {% endif %}
    {% endif %}
{% endblock %}
