{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
{% block allArticles %}
    <h1>Tous les produits</h1>
    <div class='sectionTemplate'>
            <div class="gridTemplate">
                {% for article in articles %}
                        <div class="card article" style="width: 22rem;">
                            <div class="card-body">
                                <h3 class="card-title">{{ article.name }}</h3>
                                <details>
                                <summary><small class="form-text text-muted">plus d'infos</small></summary>
                                <p class="card-text">{{ article.infos }}</p>
                                </details>
                                <img class="card-img-top" src="{{ vich_uploader_asset(article, 'imageFile', 'App\\Entity\\Article') }}" alt="{{ article.name }}">
                                <small class="form-text text-muted">Price</small>
                                <p><strong>{{ article.price }}€</strong></p>
                            </div>
                            <div class="actions">
                                <a class="btn btn-primary" id="actions-show" href="{{ path('article_show', {'id': article.id}) }}">Show</a>
                                {% if app.user %}
                                <a class="btn btn-primary" id="actions-add" href="{{ path('cart_add', {'id': article.id}) }}">Ajout panier</a>
                                {% else %}
                                <a class="btn btn-primary" id="actions-add" href="{{ path('app_login', {'id': article.id}) }}">Ajout panier</a>
                                {% endif %}
                                <a class="btn btn-primary" id="actions-edit" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                            </div>
                        </div>
                {% else %}
                <p>Aucun article trouvé</p>
                {% endfor %}
            </div>
    </div>
{% endblock %}    
<div>
    {{ knp_pagination_render(articles) }}
</div>

{% if app.user.roles[1] is defined%}
    {% if app.user.roles[1] %}
    <a href="{{ path('article_new') }}">Create new</a>
    {% endif %}
{% endif %}

{% endblock %}
