{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<h1>Tous les produits</h1>

    <div class="produits">
        {% for article in articles %}
            <div class="prod">
                <h3>{{ article.name }}</h3>
                <p>{{ article.infos }}</p>
                <img src="{{ vich_uploader_asset(article, 'imageFile', 'App\\Entity\\Article') }}" alt="{{ article.name }}">
                <p><strong>{{ article.price }}€</strong></p>
                <div class="actions">
                    <a id="actions-show" href="{{ path('article_show', {'id': article.id}) }}">Show</a>
                    {% if app.user %}
                    <a id="actions-add" href="{{ path('cart_add', {'id': article.id}) }}">Ajout panier</a>
                    {% else %}
                    <a id="actions-add" href="{{ path('app_login', {'id': article.id}) }}">Ajout panier</a>
                    {% endif %}
                    <a id="actions-edit" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                    
                </div>
            </div>
            
        {% else %}
            <p>Aucun article trouvé</p>
        {% endfor %}
        
    </div>
<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>

{% if app.user.roles[1] is defined%}
    {% if app.user.roles[1] %}
    <a href="{{ path('article_new') }}">Create new</a>
    {% endif %}
{% endif %}

{% endblock %}
