{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block body %}

    <section class="container_produits">

        {% block allArticles %}
        <div class="produits">
            <h1 class="marginProducts">Tous les produits</h1>
            <div class='sectionTemplate'>
                    <div class="gridTemplate">
                        {% for article in articles %}
                                <div class='grid-container'>
                                    <h3 class="title">{{ article.name }}</h3>
                                    <details>
                                    <summary class='infos'><small class="form-text text-muted">plus d'infos</small></summary>
                                    <p>{{ article.infos }}</p>
                                    </details>
                                    <a class="picture" id="actions-show" id="actions-show" href="{{ path('article_show', {'id': article.id}) }}">
                                    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ article.name }}">
                                    </a>
                                    <div class='prices'>
                                        <small>Price</small>
                                        <h4><strong>{{ article.price }}€</strong></h4>
                                    </div>
                                    <div class="buttons">
                                        {% if app.user %}
                                        <a class="btn btn-primary rounded-pill" id="actions-show" id="actions-add" href="{{ path('cart_add', {'id': article.id}) }}"><i class="fas fa-shopping-basket"></i>Acheter</a>
                                        {% else %}
                                        <a class="btn btn-primary rounded-pill" id="actions-add" href="{{ path('app_login', {'id': article.id}) }}"><i class="fas fa-shopping-basket"></i>Acheter</a>
                                        {% endif %}
                                    </div>
                                </div>
                        {% else %}
                        <p>Aucun article trouvé</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
        {% endblock %}
        <div>
            {{ knp_pagination_render(articles) }}
        </div>
        <div class="new_produit">
        
            {% if app.user.roles[1] is defined%}
                {% if app.user.roles[1] %}
                <button><a href="{{ path('article_add') }}">Créer un nouveau produit</a></button>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
