{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="change">{{article.name}}</h1>

    <p>{{article.infos}}</p>
    <p>{{article.price}}€</p>            
    <img src="{{ article.pic }}"/>

    <div>
        <h4>Note du produit</h4>
        {# les moyennes des notes a calculer #}
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
    </div>

    <form action="{{ path('cart_add' ,{id:article.id}) }}" method="POST">
        <select name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        {% if app.user %}
        <a href="{{ path('cart_add', {'id': article.id}) }}"><button type="submit">Acheter</button></a>
        {% else %}

        <a href="/login"><input type="button" value="acheter"></a>

        {% endif %}
    </form>
    
     <form action="{{path("ratings_add", {id:article.id})}}" method="POST">
        {#{% if app.user.roles[0] is defined %}
            {% if app.user.roles[0] == app.user.pr%}#}
        <select name="note">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
            
        <label for="comment">Commentaire</label>
        <textarea name="comment"></textarea>
        <button type="submit">Envoyer</button>
    </form> 

    <table>
        <tr>
            <td>User</td>
            <td>Note</td>
            <td>Commentaire</td>
        </tr>
        {% for rating in ratings %}
        <tr>
        
            <td>{{rating.user_id}}</td>
            <td>{{rating.note}}</td>
            <td>{{rating.comment}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ path('article_index') }}">Revenir à la liste des produits</a>

    {% if app.user.roles[1] is defined %}
        {% if app.user.roles[1] %}
        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        {{ include('article/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
