{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="change">{{article.name}}</h1>

    <p>{{article.infos}}</p>
    <p>{{article.price}}€</p>
    <div class="testpic">
            <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('my_thumb') }}" alt="{{ article.name }}">
    </div>

    <form action="{{ path('cart_add' ,{id:article.id}) }}" method="POST">
        <select name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        {% if app.user %}
            <a href="{{ path('cart_add', {'id': article.id}) }}"><button type="submit">Acheter</button></a>
        {% else %}

            <a href="/login"><input type="button" value="acheter"></a>

        {% endif %}
    </form>
    

    <div class="commentaire">
        <h3>Tous les commentaires</h3>

            {% for comment in article.comments %}
                {% if comment.moderate is same as (true) %}
                    <p>{{comment.note}}</p>
                    <p>{{comment.content}}</p> 
                    <p>Publié par {{comment.user.username}} le {{comment.createdAt|date("d/m/y H:i")}}</p>
                {% endif %}
                
            {% endfor %}
    
    </div>

    <div class="commentaire">
        <h3>Ajouter un commentaire</h3>
        {% if (app.user.roles[1] is defined) or (app.user.roles[0] is defined) %}
            {% if app.user.roles[0] %}
                {{form(commentForm)}}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %} 
            {% else %}
            <a href={{ path('app_login') }}>Pour Ajouter un commentaire, veuillez vous connecter</a> 
            {% endif %}
        {% endif %}

    </div>

    
   


    <a href="{{ path('article_index') }}">Revenir à la liste des produits</a>

    {% if app.user.roles[1] is defined %}
        {% if app.user.roles[1] %}
            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
            {{ include('article/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}