{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="testbodyshow">
        <div class="article">
        <div class="top">
            <h2 class="articlename">{{ article.name }}</h2>
            <p class="articleinfolabel">Info</p>
            <h3 class="articleinfos">{{ article.infos }}</h3>
        </div>
        
        <div class="testpic">a</div>

        <div class="bottom">
            <div class="price">
                <p class="pricelabel">price</p>
                <p class="itemprice">{{ article.price }}€</p> 
            </div>
            <div class="actions">
                {% if app.user %}
                <a id="actions-add" href="{{ path('cart_add', {'id': article.id}) }}">Ajout panier</a>
                {% else %}
                <a id="actions-add" href="{{ path('app_login', {'id': article.id}) }}">Ajout panier</a>
                {% endif %}
                <a id="actions-edit" href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                
            </div>
            
            
        </div>
        <form action="{{ path('cart_add' ,{id:article.id}) }}" method="POST">
                <select name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            {% if app.user %}
                <a href="{{ path('cart_add', {'id': article.id}) }}"><button type="submit">Bleh</button></a>
            {% else %}

                <a href="/login"><input type="button" value="acheter"></a>

            {% endif %}
            
        </form>
        {{ include('article/_delete_form.html.twig') }}
    </div>
    </div>


    
{% endblock %}
