<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={{path("accueil_index")}}>RetroShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if app.user.roles[1] is defined %}
        {% if app.user.roles[1] %}
        <li>
          <a class="nav-link" href={{path("admin_user")}}>Tous les Utilisateurs</a>
        </li>
        <li>
          <a class="nav-link" href={{path("admin_purchase")}}>Toutes les Commandes</a>
        </li>
        {% else %}
        <li>
        </li>
        {% endif %}
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/article/jeux">Jeux Rétro</a></li>
            <li><a class="dropdown-item" href="/category/article/jouet">Jouets Rétro</a></li>
            <li><a class="dropdown-item" href="/category/article/librairie">Librairie</a></li>
            <li><a class="dropdown-item" href="/category/article/films">Films</a></li>
            <li><a class="dropdown-item" href="/category/article/odit">Musique</a></li>
            <li><a class="dropdown-item" href="/category/article/Vêtements">Vêtements</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Autre</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href={{path("article_index")}}>Tous les Produits</a>
        </li>
      </ul>
      <form class="d-flex" action="/article/search" method="POST">
        <input class="form-control me-2" name="terme" type="search" placeholder="Que Cherches-tu ?">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
      </form>

      {% if app.user %}
      <a class="nav-link" href="/user/cart"><i class="fas fa-shopping-basket"></i></a>
      {% else %}

      {% endif %}

      {% if app.user %}
      {# mettre un style none pour enlever le point du li svp #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href={{path("user_index")}}>Mon compte</a></li>
          <li><a class="dropdown-item" href="/user/cart">Mon panier</a></li>
          <li><a class="dropdown-item" href="/?">Mes commandes</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href={{path("app_logout")}}>Deconnexion</a></li>
        </ul>
      </li>

      {% else %}
      <a class="nav-link" href={{path("app_login")}}>Se Connecter</a>
      {% endif %}

      {# {% if (app.user.roles[1] is defined) or (app.user.roles[0] is defined)  %}
      {% if app.user.roles[0] %}
      <a class="nav-link" href={{path("app_logout")}}>Se Déconnecter</a>
      {% elseif app.user.roles[1]%}
      <a class="nav-link" href={{path("app_logout")}}>Se Déconnecter</a>
      {% else %}
      <li>
      </li>
      {% endif %}
      {% endif %} #}

    </div>
  </div>
</nav>