<div class="container-xxl">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={{path("accueil_index")}}>
    {# logo svg #}
      <svg id="Composant_9_1" data-name="Composant 9 – 1" xmlns="http://www.w3.org/2000/svg" width="226" height="78" viewBox="0 0 226 78">
              <text id="Retro" transform="translate(0 57)" fill="#4e5658" font-size="54" font-family="AbrilFatface-Regular, Abril Fatface"><tspan x="0" y="-13">Retro</tspan></text>
              <g id="Composant_8_1" data-name="Composant 8 – 1" transform="translate(146 10)">
               <text id="Shop" transform="translate(40 50)" fill="#5293be" font-size="36" font-family="Pacifico-Regular, Pacifico"><tspan x="-39.767" y="-13">Shop</tspan></text>
              </g>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        
          {% if is_granted('ROLE_ADMIN') %}
          <li>
            <a class="nav-link" href={{path("admin_user")}}>Utilisateurs</a>
          </li>
          <li>
            <a class="nav-link" href={{path("comments_index")}}>Commentaires</a>
          </li>
          
          <li>
            <a class="nav-link" href={{path("purchase_history_admin",{id:app.user.id})}}>Commandes</a>
          </li>
          {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%  for categ in globalcateg.getAllCategs %}
            <li><a class="dropdown-item" href={{path("article_search",{name:categ})}}>{{categ}}</a></li>
            {% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Autre</a></li>
            
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href={{path("article_index")}}>Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("contact")}}>Contact</a>
        </li>
      </ul>
      <form class="d-flex" action="/article/search" method="POST">
        <div class="sb-example-1">
             <div class="search">
                <input type="text" class="searchTerm" name="terme" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div> 
          </div>
      </form>
      {% if app.user %}
      <a class="nav-link" href="/user/cart"><i class="fas fa-shopping-basket"></i></a>
      {% else %}

      {% endif %}

      {% if app.user %}
      {# mettre un style none pour enlever le point du li svp #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href={{path("user_index")}}>Mon compte</a></li>
          <li><a class="dropdown-item" href="/user/cart">Mon panier</a></li>
          <li><a class="dropdown-item" href={{path("purchase_history",{id:app.user.id})}}>Mes commandes</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href={{path("app_logout")}}>Deconnexion</a></li>
        </ul>
      </li>

      {% else %}
      <a class="nav-link" href={{path("app_login")}}>Se Connecter</a>
      {% endif %}


    </div>
  </div>
</nav>
</div>